@using RentCar.web.Models.Request
@model RentCar.web.Models.Request.CarSaveRequest

@{
    ViewData["Title"] = "Save";
}

<h1>Crear Carro</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="modelo" class="control-label">Modelo</label>
                <input asp-for="modelo" class="form-control" />
                <span asp-validation-for="modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="marca" class="control-label">Marca</label>
                <input asp-for="marca" class="form-control" />
                <span asp-validation-for="marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label">Descripcion</label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="year" class="control-label">Ano</label>
                <input asp-for="year" class="form-control" />
                <span asp-validation-for="year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pasajeros" class="control-label">Pasajeros</label>
                <input asp-for="pasajeros" class="form-control" />
                <span asp-validation-for="pasajeros" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
            @*     <label asp-for="categoriaId" class="control-label"></label> *@
            @*     <input asp-for="categoriaId" class="form-control" /> *@
            @*     <span asp-validation-for="categoriaId" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <label asp-for="categoriaId" class="control-label">Categoria</label> 
                @Html.DropDownListFor(u => u.categoriaId,
                    new SelectList(Enum.GetValues(typeof(Categories))), "Selecciona una categoria", new {@class = "form-control"})

            </div>
            @* <div class="form-group"> *@
            @*     <label asp-for="categoriaId" class="control-label">Categoria</label> *@
            @*     <input asp-for="categoriaId" class="form-control" /> *@
            @*     <span asp-validation-for="categoriaId " class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <label asp-for="pricePerDay" class="control-label">Precio</label>
                <input asp-for="pricePerDay" class="form-control" />
                <span asp-validation-for="pricePerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idUsuario" class="control-label">Usuario</label>
                <input asp-for="idUsuario" class="form-control"/>
                <span asp-validation-for="idUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
